 
  
 
 <div class="agileits_top_menu">    
    <div class="row personal-info">
      <div class="col-md-6">
          <ul>
              <li><i class="fas fa-phone"></i> +977-9814883836 </li>
              <li><i class="far fa-envelope"></i> <a href="mailto:info.ranjan@gmail.com">  info.ranjan18@gmail.com</a></li>
            </ul>
      </div>
      <div class="col-md-6">
          <div class="w3ls-social-icons text-right">
              <!-- <a class="facebook" href="#">               
                <i class="fab fa-facebook-f"></i>
              </a>       -->
              <a type="button" class="btn-floating my-1 btn-fb waves-effect waves-light" href="https://www.facebook.com" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a type="button" class="btn-floating my-1 btn-gplus waves-effect waves-light" href="https://www.gmail.com" target="_blank">
                <i class="fab fa-google-plus"></i>
              </a>
              <!-- <a class="gmail" href="#" style="margin-left:0.5em">               
                <i class="fas fa-envelope-square"></i>
              </a>        -->
          </div>
      </div>      
    </div>  
  </div>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="logo" id="logo">       
        <h3><a [routerLink]="['/home']">Himal Industry</a><i class="far fa-industry-alt"></i></h3>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> 
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" style="margin-left:2.5em"  [routerLink]="['/home']"><strong>HOME</strong><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']"><strong>ABOUT</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/service']"><strong>SERVICES</strong></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/gallery']"><strong>GALLERY</strong></a>
            </li>        
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contact']"><strong>CONTACT</strong></a>
          </li>
      </ul>
      
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      
    </div>
  </nav>
  
  <!-- <div class="panel panel-default" [ngStyle]="{'background-image': getUrl()}"></div> -->


  
    <div>
      <router-outlet></router-outlet>
    </div>

    
    

    <!-- <a id="scroll-top" class="scroll-top-right" href="#" style="display: block;">
      <span class="fa fa-angle-up"></span></a> -->
  



  <!-- <div class="banner">
			<div class="container">
					<div class="carousel-caption">
				
						<h3>The steam engine in the <span>Industrial </span></h3>
						<p>Any successful career starts with good Industrial. Together with us you will have deeper knowledge of the subjects</p>
						<div class="agileits-button top_ban_agile">
							<a class="btn btn-primary btn-lg" [routerLink]="['/perfume']">Read More »</a>
						</div>
					</div>
			</div>
  </div> -->



  
  


  



