<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
<div class="row">
<div class="col-sm-12">
<h1>Change Your Password</h1>
</div>
</div>
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
<p class="text-center">Use the form below to change your password. Your password cannot be the same as your username.</p>
<form method="post" id="passwordForm" method="post"  validate (ngSubmit)="ResetPassword(f1)" #f1="ngForm">

<input type="password" class="input-lg form-control" name="pASSWORD" id="pASSWORD" placeholder="New Password" autocomplete="off"
[(ngModel)]="reg.pASSWORD"
required
#pASSWORD="ngModel">
<div class="row">
<div class="col-sm-6">
<span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> 8 Characters Long<br>
<span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Uppercase Letter
</div>
<div class="col-sm-6">
<span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Lowercase Letter<br>
<span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Number
</div>
</div>

<input type="password" class="input-lg form-control" name="confirmpassword" id="confirmpassword" placeholder="Repeat Password" autocomplete="off"
[(ngModel)]="reg.confirmpassword"
required
#confirmpassword="ngModel" >
<div class="row">
<div class="col-sm-12">
<span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Passwords Match
</div>
</div>
<!-- <button type="submit" class="btn btn-success">Submit</button> -->
<input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg" data-loading-text="Changing Password..." value="Change Password">
</form>
</div><!--/col-sm-6-->
</div><!--/row-->
</div>



<script>
$("input[type=password]").keyup(function(){
  var ucase = new RegExp("[A-Z]+");
var lcase = new RegExp("[a-z]+");
var num = new RegExp("[0-9]+");

if($("#password1").val().length >= 8){
  $("#8char").removeClass("glyphicon-remove");
  $("#8char").addClass("glyphicon-ok");
  $("#8char").css("color","#00A41E");
}else{
  $("#8char").removeClass("glyphicon-ok");
  $("#8char").addClass("glyphicon-remove");
  $("#8char").css("color","#FF0004");
}

if(ucase.test($("#password1").val())){
  $("#ucase").removeClass("glyphicon-remove");
  $("#ucase").addClass("glyphicon-ok");
  $("#ucase").css("color","#00A41E");
}else{
  $("#ucase").removeClass("glyphicon-ok");
  $("#ucase").addClass("glyphicon-remove");
  $("#ucase").css("color","#FF0004");
}

if(lcase.test($("#password1").val())){
  $("#lcase").removeClass("glyphicon-remove");
  $("#lcase").addClass("glyphicon-ok");
  $("#lcase").css("color","#00A41E");
}else{
  $("#lcase").removeClass("glyphicon-ok");
  $("#lcase").addClass("glyphicon-remove");
  $("#lcase").css("color","#FF0004");
}

if(num.test($("#password1").val())){
  $("#num").removeClass("glyphicon-remove");
  $("#num").addClass("glyphicon-ok");
  $("#num").css("color","#00A41E");
}else{
  $("#num").removeClass("glyphicon-ok");
  $("#num").addClass("glyphicon-remove");
  $("#num").css("color","#FF0004");
}

if($("#password1").val() == $("#password2").val()){
  $("#pwmatch").removeClass("glyphicon-remove");
  $("#pwmatch").addClass("glyphicon-ok");
  $("#pwmatch").css("color","#00A41E");
}else{
  $("#pwmatch").removeClass("glyphicon-ok");
  $("#pwmatch").addClass("glyphicon-remove");
  $("#pwmatch").css("color","#FF0004");
}
});
</script>