<div class="container">
  <h1><strong>Administration Login</strong></h1>
  <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-login">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6">
            <a class="active" (click)="openLogin()" id="login-form-link">Login</a>
          </div>
          <div class="col-xs-6">
            <a  id="register-form-link" class="" (click)="openRegister()">Register</a>
          </div>
        </div>
        <hr>
      </div>


      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <form novalidate
            (ngSubmit)="onLoginSubmit()"
            #f1="ngForm" *ngIf="isLogin">
                          <div class="form-group">
                <input type="text" name="userName" id="userName" tabindex="1" class="form-control" placeholder="Enter Your Email"  [(ngModel)]="login.userName"
                required
                #userName="ngModel" >
              </div>
              <div class="form-group">
                <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Enter Your Password" [(ngModel)]="login.password"
                required
                #password="ngModel">
              </div>
              <div class="form-group text-center">
                <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                <label for="remember"> Remember Me</label>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="text-center">
                      <!-- <a href="https://phpoll.com/recover" tabindex="5" class="forgot-password">Forgot Password?</a> -->
                      <a tabindex="5" [routerLink]="['/pswd-recovery']" class="forgot-password">Forgot Password?</a>

                      <!-- <a routerLink="/registration"><button class="btn btn-success" (click)="openRecover()" > Submit </button></a> -->
                      <!-- eg -->
                      
                     

                      <!-- end eg -->
                  </div>
                </div>
              </div>
              </div>       
            </form>

           

            

           
         

      <form novalidate (ngSubmit)="onSubmit()" #f="ngForm" *ngIf="!isLogin"> 
      <div class="form-group">
        <input type="text" name="fIRST_NAME" id="fIRST_NAME" tabindex="1" class="form-control"   [(ngModel)]="register.fIRST_NAME"
        required
        #fIRST_NAME="ngModel" placeholder="Enter First Name" >
      </div>
      <div class="form-group">
        <input type="text" name="lAST_NAME" id="lAST_NAME" tabindex="1" class="form-control" placeholder="Enter Last Name" [(ngModel)]="register.lAST_NAME"
        required
        #lAST_NAME="ngModel" >
      </div>
      <div class="form-group">
        <input type="number" name="mOBILE_NUMBER" id="mOBILE_NUMBER" tabindex="1" class="form-control"  [(ngModel)]="register.mOBILE_NUMBER"
        required
        #mOBILE_NUMBER="ngModel" placeholder="Enter Mobile Number">
      </div>
      <div class="form-group">
        <input type="email" name="eMAIL" id="eMAIL" tabindex="1" class="form-control" [(ngModel)]="register.eMAIL"
        required
        #eMAIL="ngModel" placeholder="Enter Email Address">
      </div>
      <div class="form-group">
        <input type="password" name="pASSWORD" id="pASSWORD" tabindex="2" class="form-control" [(ngModel)]="register.pASSWORD"
        required
        #pASSWORD="ngModel" placeholder="Enter Password">
      </div>
      <div class="form-group">
        <input type="password" name="confirmpassword" id="confirmpassword" tabindex="2" class="form-control" [(ngModel)]="register.confirmpassword"
        required
        #confirmpassword="ngModel" placeholder="Enter Confirm Password">
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now" style="padding-left: 0rem">
          </div>
        </div>
      </div>
      </form>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
